<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Đồ án tổng hợp</title>
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->
    <link href="/view/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="/view/vendor/select2/css/select2.min.css" rel="stylesheet">
    <link href="/view/css/style.css" rel="stylesheet">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="/view/images/logo.png" alt="">
                <img class="logo-compact" src="/view/images/logo-text.png" alt="">
                <img class="brand-title" src="/view/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">
<!--                        <div class="header-left">-->
<!--                            <div class="search_bar dropdown">-->
<!--                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">-->
<!--                                    <i class="mdi mdi-magnify"></i>-->
<!--                                </span>-->
<!--                                <div class="dropdown-menu p-0 m-0">-->
<!--                                    <form>-->
<!--                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> đã thêm một <strong>khách hàng</strong> Thành công!
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">Xem tất cả thông báo<i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="../../profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Hồ sơ</span>
                                    </a>
                                    <a href="/logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Đăng xuất</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" style="position: fixed">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Quản lý</li>
                    <li>
                        <a href="department_manager" aria-expanded="false">
                            <i class="fa fa-sitemap"></i>
                            <span class="nav-text">Phòng ban</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-users-mm-2"></i>
                            <span class="nav-text">Nhân viên</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="employee_manager">Danh sách nhân viên</a></li>
                            <li><a href="add_employee">Thêm mới</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="project_manager" aria-expanded="false">
                            <i class="icon icon-app-store"></i>
                            <span class="nav-text">Dự án</span>
                        </a>
                    </li>
                    <li class="nav-label first">Hệ thống</li>
                    <li>
                        <a href="/logout" aria-expanded="false">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
					<div class="col-sm-6 p-md-0">
						<div class="welcome-text">
							<h4>Chào mừng trở lại!</h4>
                            <span class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Manager</span>
                        </div>
					</div>
					<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="manager">Quản lý</a>
							</li>
							<li class="breadcrumb-item active">
								<a href="project_manager">Dự án</a>
							</li>
						</ol>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-4 col-xxl-6 col-lg-6 col-sm-6" th:each="project : ${projects.page}">
						<div class="card text-white bg-primary">
							<div class="card-header">
								<h5 class="card-title text-white" th:text="${project.title}">Dự án 1</h5>
							</div>
							<div class="card-body mb-0">
								<p class="card-text text-truncate" th:text="${project.content==''? '(Chưa có nội dung)' : project.content}">Mô tả dự án</p>
								<a th:href="@{'/manager-task-list'(projectId=${project.id})}" class="btn btn-dark btn-card">Xem đầu mục công việc</a>
							</div>
							<div class="card-footer d-flex justify-content-between bg-transparent border-0 text-white">
								<p th:id="|lastUpdate${project.id}|">Cập nhật lần cuối 3p trước</p>
                                <div class="action">
                                    <a th:href="@{'/get_project'(projectId=${project.id})}" id="updateModal" class="btn btn-info">Cập nhật</a>
                                    <a th:href="@{'/delete_project'(projectId=${project.id})}" class="btn btn-danger">Xóa</a>
                                </div>
							</div>
						</div>
					</div>
				</div>

                <!-- Modal Edit Department -->
                <div class="modal fade" id="exampleModalCenter">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><span>Thêm mới/Cập nhật</span> Dự án</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="basic-form">
                                    <form id="addProjectModalForm" method="post" th:action="@{/save_project}">
                                        <input type="hidden" name="id" id="txtId" value="0">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Tên dự án</label>
                                                <input type="text" class="form-control" placeholder="Tên dự án" name="title" id="txtTitle">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Thuộc phòng ban</label>
                                                <select class="form-control multi-select" name="departments" id="departments" multiple="multiple">
                                                    <option th:each="department : ${departments}"
                                                            th:value="${department.id}"
                                                            th:text="${department.name}"/>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Ngày bắt đầu</label>
                                                <input type="date" class="form-control" name="beginDate" id="txtBeginDate">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Deadline</label>
                                                <input type="date" class="form-control" placeholder="Deadline" name="deadline" id="txtDeadline">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Nội dung</label>
                                                <textarea class="form-control" rows="4" form="addProjectModalForm" name="content" id="txtContent"></textarea>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Ghi chú</label>
                                                <textarea class="form-control" rows="4" form="addProjectModalForm" name="note" id="txtNote"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" form="addProjectModalForm" class="btn btn-primary">Lưu thay đổi</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-3">
                    <div class="col-12 text-right mt-1 mb-5 mr-lg-3">
						<a id="addModal" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-lg btn-rounded btn-primary pr-4">
                            <span class="btn-icon-left text-primary">
                                <i class="fa fa-plus color-primary"></i>
						    </span>
                            <span class="text-white">Thêm dự án</span>
                        </a>
					</div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" th:if="${projects.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!projects.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'project_manager?pageNumber=1'}" >Đầu</a>
                        </li>
                        <li class="page-item" th:classappend="${!projects.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'project_manager?pageNumber=' + ${projects.paging.pageNumber - 1 > 0 ? projects.paging.pageNumber - 1 : 1}}" >Trước</a>
                        </li>
                        <th:block th:each="item : ${projects.paging.getItems()}">
                            <li class="page-item" th:classappend="${item.index == projects.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link" th:href="@{'project_manager?pageNumber=' + ${item.index}}"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!projects.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'project_manager?pageNumber=' + ${projects.paging.pageNumber + 1 <= projects.page.totalPages ? projects.paging.pageNumber + 1 : projects.page.totalPages}}">Sau</a>
                        </li>
                        <li class="page-item" th:classappend="${!projects.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'project_manager?pageNumber=' + ${projects.page.totalPages}}" >Cuối</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
<!--        <div class="footer">-->
<!--            <div class="copyright">-->
<!--                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>-->
<!--                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> -->
<!--            </div>-->
<!--        </div>-->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/view/vendor/global/global.min.js"></script>
    <script src="/view/js/quixnav-init.js"></script>
    <script src="/view/js/custom.min.js"></script>

    <!-- Sweet alert -->
    <script src="/view/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/view/js/plugins-init/sweetalert.init.js"></script>

    <!-- Select Multi -->
    <script src="/view/vendor/select2/js/select2.full.min.js"></script>
    <script src="/view/js/plugins-init/select2-init.js"></script>

    <script type="text/javascript">
        $('document').ready(function (){
            $('.action .btn-info').on('click',function (event){
                event.preventDefault();
                var href = $(this).attr('href');
                $.get(href, function(data){
                    var project = data["project"];
                    $('#txtId').val(project.id);
                    $('#txtTitle').val(project.title);
                    $('#txtBeginDate').val((project.beginDate).substring(0, 10));
                    $('#txtDeadline').val((project.deadline).substring(0, 10));
                    $('#txtContent').val(project.content);
                    $('#txtNote').val(project.note);

                    var departmentIds = data["assignments"].map(function(assignment){
                        return assignment.department.id;
                    });

                    $('#departments').val(departmentIds).change();
                });

                $('#exampleModalCenter').modal();
            })
        })
        $('document').ready(function (){
            $('#addModal').on('click',function (event){
                event.preventDefault();
                $('#txtTitle').val('');
                $('#txtBeginDate').val('');
                $('#txtDeadline').val('');
                $('#txtContent').val('');
                $('#txtNote').val('');
                $('#departments').val([]).change();
                $('#exampleModalCenter').modal();
            })
        })
    </script>

    <script type="text/javascript" th:inline="javascript">
        $('document').ready(function () {
            var data = [[${projects}]];
            var projects = data['page']['content'];
            for (let i = 0; i < projects.length; i++) {
                var idProject = projects[i]['id'];
                if(projects[i]['updateDate'] == null){
                    let createDateStr = projects[i]['createDate'];
                    createDateStr = createDateStr.replace("T"," ");
                    createDateStr = createDateStr.substring(0,16);
                    document.getElementById("lastUpdate"+idProject).innerText="Tạo lúc: "+ createDateStr;
                }else{
                    var updateDate = new Date(projects[i]['updateDate']);
                    var now = new Date();
                    const diffTime = Math.abs(now - updateDate);
                    const days = Math.floor(diffTime / (24*60*60*1000));
                    const daysms = diffTime % (24*60*60*1000);
                    const hours = Math.floor(daysms / (60*60*1000));
                    const hoursms = diffTime % (60*60*1000);
                    const minutes = Math.floor(hoursms / (60*1000));
                    const minutesms = diffTime % (60*1000);
                    const sec = Math.floor(minutesms / 1000);
                    var text="Cập nhật lần cuối: ";
                    if(days != 0){
                        text+= days;
                        text+= " days ";
                    }
                    if(hours != 0){
                        text += hours;
                        text += " hours "
                    }
                    if(minutes != 0){
                        text += minutes;
                        text += " minutes "
                    }
                    if(sec != 0){
                        text += sec;
                        text += "s "
                    }
                    text += "ago";
                    document.getElementById("lastUpdate"+idProject).innerText=text;
                }
            }
        });
    </script>
</body>

</html>