<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Đồ án tổng hợp</title>
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->
    <link href="/view/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="/view/css/style.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="/view/images/logo.png" alt="">
                <img class="logo-compact" src="/view/images/logo-text.png" alt="">
                <img class="brand-title" src="/view/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">
<!--                        <div class="header-left">-->
<!--                            <div class="search_bar dropdown">-->
<!--                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">-->
<!--                                    <i class="mdi mdi-magnify"></i>-->
<!--                                </span>-->
<!--                                <div class="dropdown-menu p-0 m-0">-->
<!--                                    <form>-->
<!--                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> đã thêm một <strong>khách hàng</strong> Thành công!
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">Xem tất cả thông báo<i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="../../profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Hồ sơ</span>
                                    </a>
                                    <a href="/logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Đăng xuất</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Quản lý</li>
                    <li>
                        <a href="department_manager" aria-expanded="false">
                            <i class="fa fa-sitemap"></i>
                            <span class="nav-text">Phòng ban</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-users-mm-2"></i>
                            <span class="nav-text">Nhân viên</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="employee_manager">Danh sách nhân viên</a></li>
                            <li><a href="add_employee">Thêm mới</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="project_manager" aria-expanded="false">
                            <i class="icon icon-app-store"></i>
                            <span class="nav-text">Dự án</span>
                        </a>
                    </li>
                    <li class="nav-label first">Hệ thống</li>
                    <li>
                        <a href="/logout" aria-expanded="false">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Chào mừng trở lại!</h4>
                            <p class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Manager</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="manager">Quản lý</a></li>
                            <li class="breadcrumb-item active"><a href="department_manager">Phòng ban</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row" th:each="department : ${departments.page}">
                    <div class="col-xl-12 col-xxl-12 col-lg-12 col-sm-12" th:id="'department' + ${department.id}">
                        <a th:href="@{'/employees_of_department'(departmentId=${department.id})}">
                            <div class="card text-white bg-info">
                                <div class="card-header d-sm-flex justify-content-between">
                                    <h5 class="card-title text-white departmentInput" th:text="${department.name}" id="txtDepartmentName">Tên phòng ban</h5>
                                    <div class="card-footer-link mb-4 mb-sm-0">
                                        <p class="card-text text-white d-inline">Được tạo 3 ngày trước</p>
                                    </div>
                                </div>
                                <div class="card-body mb-0 py-2">
                                    <p class="card-text text-white departmentInput" th:text="${department.note}" id="txtDepartmentNote">Ghi chú phòng ban</p>
                                </div>
                                <div class="card-footer px-4 bg-transparent border-0 text-white d-flex justify-content-between">
                                    <p class="text-white">Cập nhật lần cuối 3p trước</p>
                                    <div>
                                        <a data-toggle="modal" data-target="#exampleModalCenter" th:onclick="'openModalFunction(\''+ 'department'+${department.id} +'\',this.id,\''+${department.id} +'\')'" id="updateModal" class="btn btn-primary">Sửa</a>
                                        <button type="button" th:data-url="@{'/delete_department'(departmentId=${department.id})}" class="btn btn-danger sweet-success-cancel">Xóa</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Modal Edit Department -->
                <div class="modal fade" id="exampleModalCenter">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"><span>Thêm mới/Cập nhật</span> Phòng ban</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="basic-form">
                                    <form th:action="@{/save_department}" method="post" id="add_update_form">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Tên phòng ban</label>
                                            <div class="col-sm-9">
                                                <input name="name" type="text" class="form-control" placeholder="Tên phòng ban" id="txtNameDepartmentDialog">
                                            </div>
                                        </div>
                                        <input type="hidden" name="id" id="txtIdDepartmentDialog" value="0">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Ghi chú</label>
                                            <div class="col-sm-9">
                                                <textarea name="note" class="form-control" rows="4" id="txtNoteDepartmentDialog"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                <button type="submit" form="add_update_form" class="btn btn-primary">Lưu thay đổi</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mx-3 fixed-bottom">
                    <div class="col-12 text-right mt-1 mb-5 mr-lg-3">
						<a id="addModal" onclick="openModalFunction(null,this.id,null)" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-lg btn-rounded btn-primary pr-3">
                            <span class="btn-icon-left text-primary">
                                <i class="fa fa-plus color-primary"></i>
						    </span>
                            <span class="text-white">Thêm Phòng ban</span>
                        </a>
					</div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" th:if="${departments.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!departments.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'department_manager?pageNumber=1'}" >Đầu</a>
                        </li>
                        <li class="page-item" th:classappend="${!departments.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'department_manager?pageNumber=' + ${departments.paging.pageNumber - 1 > 0 ? departments.paging.pageNumber - 1 : 1}}" >Trước</a>
                        </li>
                        <th:block th:each="item : ${departments.paging.getItems()}">
                            <li class="page-item" th:classappend="${item.index == departments.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link" th:href="@{'department_manager?pageNumber=' + ${item.index}}"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!departments.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'department_manager?pageNumber=' + ${departments.paging.pageNumber + 1 <= departments.page.totalPages ? departments.paging.pageNumber + 1 : departments.page.totalPages}}">Sau</a>
                        </li>
                        <li class="page-item" th:classappend="${!departments.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'department_manager?pageNumber=' + ${departments.page.totalPages}}" >Cuối</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
<!--        <div class="footer">-->
<!--            <div class="copyright">-->
<!--                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>-->
<!--                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> -->
<!--            </div>-->
<!--        </div>-->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/view/vendor/global/global.min.js"></script>
    <script src="/view/js/quixnav-init.js"></script>
    <script src="/view/js/custom.min.js"></script>

    <!-- Sweet alert -->
    <script src="/view/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/view/js/plugins-init/sweetalert.init.js"></script>

    <script type="text/javascript">
        function openModalFunction(departmentId, idElement, id) {
            if(idElement == "updateModal"){
                document.getElementById('txtIdDepartmentDialog').value = id;
                document.getElementById('txtNameDepartmentDialog').value = document.getElementById(departmentId).querySelectorAll(".departmentInput")[0].innerHTML;
                document.getElementById('txtNoteDepartmentDialog').value = document.getElementById(departmentId).querySelectorAll(".departmentInput")[1].innerHTML;
            }else if (idElement == "addModal"){
                document.getElementById('txtNameDepartmentDialog').value = '';
                document.getElementById('txtNoteDepartmentDialog').value = '';
            }
        };
    </script>
</body>

</html>