<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Work Management</title>
    <link href="/view/css/style.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="/view/images/logo-w.png" alt="">
                <div class="logo-compact">WORK MANAGEMENT</div>
                <div class="brand-title">WORK MANAGEMENT</div>
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" style="position: fixed">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Quản lý</li>
                    <li>
						<a href="leader_manager" aria-expanded="false">
							<i class="icon icon-app-store"></i>
							<span class="nav-text">Dự án</span>
						</a>
					</li>
                    <li class="nav-label first">Hệ thống</li>
                    <li>
                        <a href="/logout" aria-expanded="false">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body ">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Chào mừng trở lại!</h4>
                            <p class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Leader</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Dự án</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Nhiệm vụ</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Tiến độ công việc</a></li>
                        </ol>
                    </div>
                </div>

                <h3 id="taskTitle">Danh sách tiến độ công việc</h3>
                <div class="row">
                    <div class="col-xl-6 col-sm-12" th:each="workProgress : ${workProgresses.page}">
                        <a th:href="@{'/leader_detail_workprogress'(workProgressId=${workProgress.id})}">
                            <div class="card text-white bg-primary">
                                <div class="card-header d-flex justify-content-between pt-1">
                                    <h4 class="card-title text-white" th:text="${workProgress.title}">Work Progress 1</h4>
                                    <p th:id="|Creator${workProgress.id}|" class="mt-3" style="color:#BDBDC7" >Created by Employee-Name</p>
                                </div>
                                <div class="card-body mb-0 pt-1">
                                    <th:block th:switch="${workProgress.workProgressLevel}">
                                        <div th:case="'0'" style="display: inline-block">
                                            <h4 class="card-title text-white" >Chưa tiến hành</h4>
                                        </div>
                                        <div th:case="'1'" style="display: inline-block">
                                            <h4 class="card-title text-white" >Đang tiến hành</h4>
                                        </div>
                                        <div th:case="'2'" style="display: inline-block">
                                            <h4 class="card-title text-white" >Hoàn thành</h4>
                                        </div>
                                    </th:block>
                                    <div class="progress mb-3">
                                        <div
                                            class="progress-bar bg-danger progress-bar-striped"
                                            th:aria-valuenow="${workProgress.workProgressLevel}"
                                            aria-valuemin="0"
                                            aria-valuemax="2"
                                            style="height: 10px"
                                            role="progressbar"
                                        >
                                            <span class="sr-only">85% Hoàn thành (thành công)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-transparent border-1 text-white py-0">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p th:id="|lastUpdate${workProgress.id}|" class="pt-3" style="color:#BDBDC7">Last updated 3 min ago by Employee-Update</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center" th:if="${workProgresses.page.totalPages > 1}">
                        <li class="page-item" th:classappend="${!workProgresses.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/leader_workprogress_by_task?taskId='+${taskId}+'&pageNumber=1'}" >First</a>
                        </li>
                        <li class="page-item" th:classappend="${!workProgresses.paging.isPrevEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/leader_workprogress_by_task?taskId='+${taskId}+'&pageNumber=' + ${workProgresses.paging.pageNumber - 1 > 0 ? workProgresses.paging.pageNumber - 1 : 1}}" >Previous</a>
                        </li>
                        <th:block th:each="item : ${workProgresses.paging.getItems()}">
                            <li class="page-item" th:classappend="${item.index == workProgresses.paging.pageNumber? 'active' : ''}"
                                th:if="${item.pageItemType.name() == 'PAGE'}">
                                <a class="page-link" th:href="@{'/leader_workprogress_by_task?taskId='+${taskId}+'&pageNumber=' + ${item.index}}"
                                   th:text="${item.index}"></a>
                            </li>
                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                                <a class="page-link" href="#">...</a>
                            </li>
                        </th:block>
                        <li class="page-item" th:classappend="${!workProgresses.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/leader_workprogress_by_task?taskId='+${taskId}+'&pageNumber=' + ${workProgresses.paging.pageNumber + 1 <= workProgresses.page.totalPages ? workProgresses.paging.pageNumber + 1 : workProgresses.page.totalPages}}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${!workProgresses.paging.isNextEnabled()? 'disabled' : ''}">
                            <a class="page-link" th:href="@{'/leader_workprogress_by_task?taskId='+${taskId}+'&pageNumber=' + ${workProgresses.page.totalPages}}" >Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
<!--        <div class="footer">-->
<!--            <div class="copyright">-->
<!--                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>-->
<!--                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> -->
<!--            </div>-->
<!--        </div>-->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/view/vendor/global/global.min.js"></script>
    <script src="/view/js/quixnav-init.js"></script>
    <script src="/view/js/custom.min.js"></script>

    <script src="/view/js/custom/progress-bar.custom.js"></script>

    <script type="text/javascript" th:inline="javascript">
        $('document').ready(function () {
            var data = [[${workProgresses}]];
            var taskId = [[${taskId}]];
            var workProgresses = data['page']['content'];
            for (let i = 0; i < workProgresses.length; i++) {
                var idProgress = workProgresses[i]['id'];
                if(workProgresses[i]['updateDate'] == null){
                    let createDateStr = workProgresses[i]['createDate'];
                    createDateStr = createDateStr.replace("T"," ");
                    createDateStr = createDateStr.substring(0,16);
                    document.getElementById("lastUpdate"+idProgress).innerText="Tạo lúc: "+ createDateStr;
                }else{
                    var updateDate = new Date(workProgresses[i]['updateDate']);
                    var now = new Date();
                    const diffTime = Math.abs(now - updateDate);
                    const days = Math.floor(diffTime / (24*60*60*1000));
                    const daysms = diffTime % (24*60*60*1000);
                    const hours = Math.floor(daysms / (60*60*1000));
                    const hoursms = diffTime % (60*60*1000);
                    const minutes = Math.floor(hoursms / (60*1000));
                    const minutesms = diffTime % (60*1000);
                    const sec = Math.floor(minutesms / 1000);
                    var text="Cập nhật lần cuối: ";
                    if(days != 0){
                        text+= days;
                        text+= " ngày ";
                    }
                    if(hours != 0){
                        text += hours;
                        text += " giờ "
                    }
                    if(minutes != 0){
                        text += minutes;
                        text += " phút "
                    }
                    if(sec != 0){
                        text += sec;
                        text += " giây "
                    }
                    text += "trước";
                    document.getElementById("lastUpdate"+idProgress).innerText=text;
                }
            }

            $.ajax({url: "/get_task?taskId="+taskId, success: function(task){
                    console.log(task);
                    $('#taskTitle').text("Tiến độ nhiệm vụ: "+task.title);
            }});

            for (let i = 0; i < workProgresses.length; i++) {
                var employee = workProgresses[i].employee;
                console.log(employee);
                console.log(document.getElementById("Creator"+workProgresses[i].id));
                document.getElementById("Creator"+workProgresses[i].id).innerText="Tạo bởi: "+employee.firstName+" "+employee.lastName;
            }
        });
    </script>

</body>

</html>