<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>Work Management</title>
	<link href="/view/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="/view/vendor/select2/css/select2.min.css" rel="stylesheet">
	<link href="/view/css/style.css" rel="stylesheet" />
	<link href="/css/custom.css" rel="stylesheet">
</head>
<body>
<!--*******************
Preloader start
********************-->
<div id="preloader">
	<div class="sk-three-bounce">
		<div class="sk-child sk-bounce1"></div>
		<div class="sk-child sk-bounce2"></div>
		<div class="sk-child sk-bounce3"></div>
	</div>
</div>
<!--*******************
Preloader end
********************-->

<!--**********************************
    Nav header start
***********************************-->

<div class="nav-header">
	<a href="#" class="brand-logo">
		<img class="logo-abbr" src="/view/images/logo-w.png" alt="">
		<div class="logo-compact">WORK MANAGEMENT</div>
		<div class="brand-title">WORK MANAGEMENT</div>
	</a>

	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span><span class="line"></span
		><span class="line"></span>
		</div>
	</div>
</div>
<!--**********************************
    Nav header end
***********************************-->

<!--**********************************
    Header start
***********************************-->
<div class="header">
	<div class="header-content">
		<nav class="navbar navbar-expand">
			<div class="collapse navbar-collapse justify-content-end">
			</div>
		</nav>
	</div>
</div>
<!--**********************************
    Header end ti-comment-alt
***********************************-->

<!--**********************************
    Sidebar start
***********************************-->
<div class="quixnav" style="position: fixed">
	<div class="quixnav-scroll">
		<ul class="metismenu" id="menu">
			<li class="nav-label first">Quản lý</li>
			<li>
				<a href="leader_manager" aria-expanded="false">
					<i class="icon icon-app-store"></i>
					<span class="nav-text">Dự án</span>
				</a>
			</li>
			<li class="nav-label first">Hệ thống</li>
			<li>
				<a href="/logout" aria-expanded="false">
					<i class="fa fa-sign-out"></i>
					<span class="nav-text">Đăng xuất</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--**********************************
    Sidebar end
***********************************-->

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Chào mừng trở lại!</h4>
					<span class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Leader</span>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="leader_manager">Dự án</a>
					</li>
					<li class="breadcrumb-item active">
						<a href="javascript:void(0)">Nhiệm vụ</a>
					</li>
				</ol>
			</div>
		</div>
		<div class="row px-3">
			<h2 id="projectTitle">Tên dự án</h2>
		</div>
		<div class="row mt-3">
			<div class="col-xl-6 col-sm-12" th:each="task : ${tasks.page}">
				<a th:href="@{'/leader_workprogress_by_task'(taskId=${task.id})}">
					<div class="card text-white bg-primary">
						<div class="card-header">
							<h5 class="card-title text-white" th:text="${task.title}">Task 1</h5>
							<span th:id="|deadline${task.id}|" class="text-danger" th:text="${task.deadline}">Deadline</span>
						</div>
						<div class="card-body mb-0">
							<div class="d-flex justify-content-between mb-2" style="align-items: center;">
								<p class="card-text text-white text-truncate" th:text="${task.content==''? '(Chưa có nội dung)' : task.content}">Mô tả công việc</p>
								<a class="show-detail-content text-light ml-2" title="xem chi tiết"><i class="fa fa-eye" aria-hidden="true"></i></a>
								<a class="close-detail-content text-light ml-2" style="display: none;" title="đóng"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
							</div>
							<th:block th:switch="${task.workProgressLevel}">
								<div th:case="0">
									<h4 class="card-title text-white" >Chưa tiến hành</h4>
								</div>
								<div th:case="1">
									<h4 class="card-title text-white" >Đang tiến hành</h4>
								</div>
								<div th:case="2">
									<h4 class="card-title text-white" >Hoàn thành</h4>
								</div>
							</th:block>
							<div class="progress mb-3">
								<div
										class="progress-bar bg-danger progress-bar-striped"
										th:aria-valuenow="${task.workProgressLevel}"
										aria-valuemin="0"
										aria-valuemax="2"
										style="height: 10px"
										role="progressbar"
								>
								</div>
							</div>
						</div>
						<div class="card-footer bg-transparent border-0 text-white">
							<div class="d-flex justify-content-between">
								<p th:id="|lastUpdate${task.id}|">Last updated 3 min ago</p>
								<div class="action">
									<a th:href="@{'/get_assignment'(taskId=${task.id})}" class="btn btn-info">Cập nhật</a>
									<button type="button" th:data-url="@{'/delete_task'(taskId=${task.id})}" class="btn btn-danger sweet-success-cancel">Xóa</button>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<!-- Modal Edit Task -->
		<div class="modal fade" id="exampleModalCenter">
			<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"><span>Thêm mới/Cập nhật</span> Nhiệm vụ</h5>
						<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
						</button>
					</div>
					<form method="post" th:action="@{/save_task}">
						<div class="modal-body">
							<div class="basic-form">
								<div class="form-row">
									<div class="form-group col-md-4">
										<label>Tên nhiệm vụ</label>
										<input id="txtTitle" type="text" class="form-control" name="title" placeholder="Tên nhiệm vụ" required>
										<input type="hidden" name="id" id="txtId" value="0">
									</div>
									<div class="form-group col-md-4">
										<label>Thuộc dự án</label>
										<p id="txtProjectTitle" class="mt-1 text-black">Tên dự án</p>
										<input type="hidden" name="project" id="objectProject" th:value="${projectId}">
									</div>
									<div class="form-group col-md-4">
										<label>Tiến độ công việc</label>
										<select id="slProgress" name="workProgressLevel" class="form-control">
											<option value="0">Chưa tiến hành</option>
											<option value="1">Đang tiến hành</option>
											<option value="2">Hoàn thành</option>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6 col-lg-4">
										<label>Ngày bắt đầu</label>
										<input id="txtBeginDate" type="datetime-local" name="beginDate" class="form-control" required>
									</div>
									<div class="form-group col-md-6 col-lg-4">
										<label>Deadline</label>
										<input id="txtDeadlineDate" type="datetime-local" name="deadline" class="form-control" placeholder="Deadline" required>
									</div>
									<div class="form-group col-lg-4">
										<label>Ngày kết thúc dự kiến</label>
										<input id="txtEndDate" type="datetime-local" name="endDate" class="form-control" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label>Thành viên tham gia</label>
										<select class="form-control multi-select" name="employees" multiple="multiple" id="employees">
											<option th:each="employee : ${employees}"
													th:value="${employee.id}"
													th:text="${employee.firstName + ' ' + employee.lastName}"/>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label>Nội dung</label>
										<textarea id="txtContent" name="content" class="form-control" rows="5" required></textarea>
									</div>
									<div class="form-group col-md-12">
										<label>Ghi chú</label>
										<textarea id="txtNote" name="note" class="form-control" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
							<input type="submit" name="submit" value="Save changes" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation example" class="pb-5 mb-5">
			<ul class="pagination justify-content-center" th:if="${tasks.page.totalPages > 1}">
				<li class="page-item" th:classappend="${!tasks.paging.isPrevEnabled()? 'disabled' : ''}">
					<a class="page-link" th:href="@{'/leader-task-list?projectId='+${projectId}+'&pageNumber=1'}" >First</a>
				</li>
				<li class="page-item" th:classappend="${!tasks.paging.isPrevEnabled()? 'disabled' : ''}">
					<a class="page-link" th:href="@{'/leader-task-list?projectId='+${projectId}+'&pageNumber=' + ${tasks.paging.pageNumber - 1 > 0 ? tasks.paging.pageNumber - 1 : 1}}" >Previous</a>
				</li>
				<th:block th:each="item : ${tasks.paging.getItems()}">
					<li class="page-item" th:classappend="${item.index == tasks.paging.pageNumber? 'active' : ''}"
						th:if="${item.pageItemType.name() == 'PAGE'}">
						<a class="page-link" th:href="@{'/leader-task-list?projectId='+${projectId}+'&pageNumber=' + ${item.index}}"
						   th:text="${item.index}"></a>
					</li>
					<li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
						<a class="page-link" href="#">...</a>
					</li>
				</th:block>
				<li class="page-item" th:classappend="${!tasks.paging.isNextEnabled()? 'disabled' : ''}">
					<a class="page-link" th:href="@{'/leader-task-list?projectId='+${projectId}+'&pageNumber=' + ${tasks.paging.pageNumber + 1 <= tasks.page.totalPages ? tasks.paging.pageNumber + 1 : tasks.page.totalPages}}">Next</a>
				</li>
				<li class="page-item" th:classappend="${!tasks.paging.isNextEnabled()? 'disabled' : ''}">
					<a class="page-link" th:href="@{'/leader-task-list?projectId='+${projectId}+'&pageNumber=' + ${tasks.page.totalPages}}" >Last</a>
				</li>
			</ul>
		</nav>
		<div class="row mx-3 fixed-bottom" style="z-index: 0">
			<div class="col-12 text-right mt-1 mb-5 mr-lg-3">
				<button id="addModal" type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-lg btn-rounded btn-primary pr-3">
								<span class="btn-icon-left text-primary">
									<i class="fa fa-plus color-primary"></i>
								</span>
					<span>Thêm công việc</span>
				</button>
			</div>
		</div>
	</div>
</div>
<!--**********************************
    Content body end
***********************************-->

<!--**********************************
Scripts
***********************************-->


<!-- Required vendors -->
<script src="/view/vendor/global/global.min.js"></script>
<script src="/view/js/quixnav-init.js"></script>
<script src="/view/js/custom.min.js"></script>

<!-- Sweet alert -->
<script src="/view/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/view/js/plugins-init/sweetalert.init.js"></script>

<!-- Select multiple -->
<script src="/view/vendor/select2/js/select2.full.min.js"></script>
<script src="/view/js/plugins-init/select2-init.js"></script>

<script src="/view/js/custom/progress-bar.custom.js"></script>
<script src="/view/js/custom/show-detail-content.custom.js"></script>

<script type="text/javascript" th:inline="javascript">
	$('document').ready(function (){
		var projectId = [[${projectId}]];
		$.ajax({url: "/get_project?projectId="+projectId, success: function(data){
				var projectResult = data["project"];
				$('#projectTitle').text(projectResult.title);
			}});

		$('.action .btn-info').on('click',function (event){
			event.preventDefault();
			var href = $(this).attr('href');
			$.get(href, function(data){
				var task = data["task"];
				$('#txtId').val(task.id);
				$('#txtTitle').val(task.title);
				$('#txtProjectTitle').text(task.project.title);
				$('#txtBeginDate').val((task.beginDate));
				$('#txtDeadlineDate').val((task.deadline));
				$('#txtEndDate').val((task.deadline));
				$('#txtContent').val(task.content);
				$('#txtNote').val(task.note);
				$('#slProgress').val(task.workProgressLevel);

				var employeeIds = data["assignments"].map(function(assignment){
					return assignment.employee.id;
				});

				$('#employees').val(employeeIds).change();
			});
			$('#exampleModalCenter').modal();
		})

	})

	$('document').ready(function (){
		$('#addModal').on('click',function (event){
			event.preventDefault();
			$('#txtId').val(0);
			$('#txtTitle').val('');
			$('#txtProjectTitle').text('');
			$('#txtBeginDate').val(new Date());
			$('#txtDeadlineDate').val(new Date());
			$('#txtEndDate').val(new Date());
			$('#txtContent').val('');
			$('#txtNote').val('');
			$('#slProgress').val(0);
			$('#exampleModalCenter').modal();
			var projectTitle = document.getElementById("projectTitle").innerText;
			console.log(projectTitle);
			$('#txtProjectTitle').text(projectTitle);
			$('#employees').val([]).change();
		})
	})
</script>

<script type="text/javascript" th:inline="javascript">
	$('document').ready(function () {
		var error = [[${error}]];
		if(error !== null && error !== ''){
			alert(error);
		}
	});
	$('document').ready(function () {
		var data = [[${tasks}]];
		var tasks = data['page']['content'];
		for (let i = 0; i < tasks.length; i++) {
			var idTask = tasks[i]['id'];
			if(tasks[i]['deadline'] != null){
				const d = new Date(tasks[i]['deadline']);
				var minutes = (""+d.getMinutes()).length == 1 ? d.getMinutes()+"0" : d.getMinutes();
				var deadlineStr = d.getHours()+":"+minutes+" "+d.getDate()+"/"+d.getMonth()+"/"+d.getFullYear();
				document.getElementById("deadline"+idTask).innerText="Deadline: "+ deadlineStr;
			}
			if(tasks[i]['updateDate'] == null){
				const d = new Date(tasks[i]['createDate']);
				var minutes = (""+d.getMinutes()).length == 1 ? d.getMinutes()+"0" : d.getMinutes();
				var createDateStr = d.getHours()+":"+minutes+" "+d.getDate()+"/"+(d.getMonth() + 1)+"/"+d.getFullYear();
				document.getElementById("lastUpdate"+idTask).innerText="Tạo lúc: "+ createDateStr;
			}else{
				var updateDate = new Date(tasks[i]['updateDate']);
				var now = new Date();
				const diffTime = Math.abs(now - updateDate);
				const days = Math.floor(diffTime / (24*60*60*1000));
				const daysms = diffTime % (24*60*60*1000);
				const hours = Math.floor(daysms / (60*60*1000));
				const hoursms = diffTime % (60*60*1000);
				const minutes = Math.floor(hoursms / (60*1000));
				const minutesms = diffTime % (60*1000);
				const sec = Math.floor(minutesms / 1000);
				var text="Cập nhật lần cuối: ";
				if(days != 0){
					text+= days;
					text+= " ngày ";
				}
				if(hours != 0){
					text += hours;
					text += " giờ "
				}
				if(minutes != 0){
					text += minutes;
					text += " phút "
				}
				if(sec != 0){
					text += sec;
					text += " giây "
				}
				text += "trước";
				document.getElementById("lastUpdate"+idTask).innerText=text;
			}
		}
	});
</script>
</body>
</html>