<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Đồ án tổng hợp</title>
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->
    <link href="/view/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="/view/images/logo.png" alt="">
                <img class="logo-compact" src="/view/images/logo-text.png" alt="">
                <img class="brand-title" src="/view/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">
<!--                        <div class="header-left">-->
<!--                            <div class="search_bar dropdown">-->
<!--                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">-->
<!--                                    <i class="mdi mdi-magnify"></i>-->
<!--                                </span>-->
<!--                                <div class="dropdown-menu p-0 m-0">-->
<!--                                    <form>-->
<!--                                        <input class="form-control" type="search" placeholder="Search"-->
<!--                                            aria-label="Search">-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> đã thêm một <strong>khách hàng</strong>
                                                        Thành công!
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">Xem tất cả thông báo<i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/view/profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Hồ sơ</span>
                                    </a>
                                    <a href="/logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Đăng xuất</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" style="position: fixed">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Quản lý</li>
                    <li>
						<a href="leader_manager" aria-expanded="false">
							<i class="icon icon-app-store"></i>
							<span class="nav-text">Dự án</span>
						</a>
					</li>
                    <li class="nav-label first">Hệ thống</li>
                    <li>
                        <a href="/logout" aria-expanded="false">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body ">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Chào mừng trở lại!</h4>
                            <p class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Leader</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Dự án</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Nhiệm vụ</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Tiến độ công việc</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Chi tiết</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header pb-0 col-md-12">
                                <h3 class="workprogress-old" th:text="${workProgress.title}">Tên Work Progress</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="border border-primary p-2">
                                            <div class="card-content">
                                                <div class="card-text m-2">
                                                    <p class="text-black workprogress-old" th:text="${workProgress.content==''? '(Chưa có nội dung)' : workProgress.content}">
                                                        Content: Thiết kế form task khi nhấn vào 1 task sẽ hiện list task nhỏ của
                                                        từng dự án
                                                        khi kích vào từng task nhỏ sẽ xem đk content , tiến độ làm việc, comment
                                                    </p>
                                                </div>
                                            </div>
            
                                            <div class="card-listFile">
                                                <h4 class="m-2">Danh sách tệp đính kèm</h4>
                                                <div class="row px-2">
                                                    <div class="card text-white overflow-hidden ml-3" style="width:10rem; height: 10rem;">
                                                        <img class="card-img-top pos" src="/view/images/avatar/NV.jpg" alt="...">
                                                        <div class="card-img-overlay d-flex align-items-start">
                                                            <div>
                                                                <i class="fa fa-window-close close" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                
                                                    <div class="card text-white overflow-hidden ml-3" style="width:10rem; height: 10rem;">
                                                        <img class="card-img-top pos" src="/view/images/avatar/NV1.jpg" alt="...">
                                                        <div class="card-img-overlay d-flex align-items-start">
                                                            <div>
                                                                <i class="fa fa-window-close close" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="card text-white overflow-hidden ml-3" style="width:10rem; height: 10rem;">
                                                        <img class="card-img-top pos" src="/view/images/avatar/NV1.jpg" alt="...">
                                                        <div class="card-img-overlay d-flex align-items-start">
                                                            <div>
                                                                <i class="fa fa-window-close close" aria-hidden="true"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer border-0">
                                <div class="row px-1">
                                    <div class="col-md-12">
                                        <div class="p-2 border border-primary">
                                            <div class="d-flex">
                                                <img src="/view/images/avatar/1.png" alt="" class="rounded-circle" style="width: 40px; height: 40px;">
                                                <form class="d-inline-flex w-100 ml-3" style="align-items: center;" th:action="@{/save_comment}" method="post">
                                                    <div class="w-100 d-flex">
                                                        <input type="text" class="form-control input-rounded bg-light" name="content" placeholder="Nhập bình luận">
                                                        <input type="hidden" class="form-control input-rounded bg-light" name="employee" th:value="${user.id}">
                                                        <input type="hidden" class="form-control input-rounded bg-light" name="workProgress" th:value="${workProgress.id}">
                                                        <button type="submit" class="btn btn-rounded btn-primary ml-2 w-10" style="min-width: fit-content" >Bình luận</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="list-comment mt-3">
                                                <div class="comment-item mb-2 d-flex justify-content-start" th:each="comment : ${comments}">
                                                    <div class="rounded-circle">
                                                        <img src="/view/images/avatar/1.png" alt="avt" style="width: 40px; height: 40px; object-fit: cover;">
                                                    </div>
                                                    <div class="ml-3 item-content-cmt">
                                                        <div class="before-edit-cmt">
                                                            <div class="bg-light px-2 py-1" style="border-radius: 15px;">
                                                                <span class="text-black" style="font-weight: 500;" th:text="${comment.employee.firstName + ' ' + comment.employee.lastName}">Hoàng Tuấn Anh</span>
                                                                <p class="text-black-50" style="margin-bottom: 5px;" th:text="${comment.content}">Nội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung commentNội dung comment</p>
                                                            </div>
                                                            <div class="d-flex">
                                                                <span class="ml-2" style="font-size: 90%;line-height:1.8" th:text="${comment.updateDate == null ? comment.createDate : comment.updateDate}">Thời gian comment</span>
                                                                <div class="action ml-2">
<!--                                                                    <span class="mr-1" style="font-size: 7px;position: relative;top:-2px;"><i class="fa fa-circle" aria-hidden="true"></i></span>-->
                                                                    <div th:if="${comment.employee.id == user.id}">
                                                                        <button class="btn-edit-cmt mr-1" style="font-size: 90%;"><strong>Chỉnh sửa</strong></button>
                                                                        <a th:href="@{'/delete_comment'(commentId=${comment.id})}" style="font-size: 90%;"><strong>Xóa</strong></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="after-edit-cmt">
                                                            <form th:action="@{/save_comment}" class="d-inline-flex w-100" style="align-items: center;" id="updateCommentForm">
                                                                <input type="hidden" name="id" th:value="${comment.id}">
                                                                <input type="hidden" name="employee" th:value="${comment.employee.id}">
                                                                <input type="hidden" name="workProgress" th:value="${comment.workProgress.id}">
                                                                <div class="w-100">
                                                                    <input type="text" class="form-control input-rounded bg-light" placeholder="input-rounded" name="content" th:value="${comment.content}">
                                                                </div>
                                                                <input class="btn btn-primary ml-2" type="submit" value="Bình luận">
                                                            </form>
                                                            <button class="ml-2 btn-cancel-edit-cmt" style="font-size: 90%;"><strong>Hủy</strong></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
<!--        <div class="footer">-->
<!--            <div class="copyright">-->
<!--                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>-->
<!--                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> -->
<!--            </div>-->
<!--        </div>-->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/view/vendor/global/global.min.js"></script>
    <script src="/view/js/quixnav-init.js"></script>
    <script src="/view/js/custom.min.js"></script>

    <script src="/view/js/custom/form-workprogress.custom.js"></script>
</body>

</html>