<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<title>Leader: Tasks Details</title>
	<!-- Favicon icon -->
	<!-- <link rel="icon" type="image/png" sizes="16x16" href="../../../static/view/images/favicon.png" /> -->
	<link href="/view/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="/view/css/style.css" rel="stylesheet" />
</head>
<body>
<!--*******************
Preloader start
********************-->
<div id="preloader">
	<div class="sk-three-bounce">
		<div class="sk-child sk-bounce1"></div>
		<div class="sk-child sk-bounce2"></div>
		<div class="sk-child sk-bounce3"></div>
	</div>
</div>
<!--*******************
Preloader end
********************-->

<!--**********************************
    Nav header start
***********************************-->

<div class="nav-header">
	<a href="#" class="brand-logo">
		<img class="logo-abbr" src="/view/images/logo.png" alt="" />
		<img class="logo-compact" src="/view/images/logo-text.png" alt="" />
		<img class="brand-title" src="/view/images/logo-text.png" alt="" />
	</a>

	<div class="nav-control">
		<div class="hamburger">
			<span class="line"></span><span class="line"></span
		><span class="line"></span>
		</div>
	</div>
</div>
<!--**********************************
    Nav header end
***********************************-->

<!--**********************************
    Header start
***********************************-->
<div class="header">
	<div class="header-content">
		<nav class="navbar navbar-expand">
			<div class="collapse navbar-collapse justify-content-end">
<!--				<div class="header-left">-->
<!--					<div class="search_bar dropdown">-->
<!--								<span class="search_icon p-3 c-pointer" data-toggle="dropdown">-->
<!--									<i class="mdi mdi-magnify"></i>-->
<!--								</span>-->
<!--						<div class="dropdown-menu p-0 m-0">-->
<!--							<form>-->
<!--								<input class="form-control" type="search" placeholder="Search" aria-label="Search"/>-->
<!--							</form>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

				<ul class="navbar-nav header-right">
					<li class="nav-item dropdown notification_dropdown">
						<a
								class="nav-link"
								href="#"
								role="button"
								data-toggle="dropdown"
						>
							<i class="mdi mdi-bell"></i>
							<div class="pulse-css"></div>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<ul class="list-unstyled">
								<li class="media dropdown-item">
									<span class="success"><i class="ti-user"></i></span>
									<div class="media-body">
										<a href="#">
											<p>
												<strong>Martin</strong> has added a
												<strong>customer</strong> Successfully
											</p>
										</a>
									</div>
									<span class="notify-time">3:20 am</span>
								</li>
							</ul>
							<a class="all-notification" href="#"
							>See all notifications <i class="ti-arrow-right"></i
							></a>
						</div>
					</li>
					<li class="nav-item dropdown header-profile">
						<a class="nav-link" href="#" role="button" data-toggle="dropdown">
							<i class="mdi mdi-account"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="./profile.html" class="dropdown-item">
								<i class="icon-user"></i>
								<span class="ml-2">Profile</span>
							</a>
							<a href="/logout" class="dropdown-item">
								<i class="icon-key"></i>
								<span class="ml-2">Logout</span>
							</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!--**********************************
    Header end ti-comment-alt
***********************************-->

<!--**********************************
    Sidebar start
***********************************-->
<div class="quixnav">
	<div class="quixnav-scroll">
		<ul class="metismenu" id="menu">
			<li class="nav-label first">Management</li>
			<li>
				<a href="leader_manager" aria-expanded="false">
					<i class="icon icon-app-store"></i>
					<span class="nav-text">Project</span>
				</a>
			</li>
			<li class="nav-label first">System</li>
			<li>
				<a href="/logout" aria-expanded="false">
					<i class="fa fa-sign-out"></i>
					<span class="nav-text">Logout</span>
				</a>
			</li>
		</ul>
	</div>
</div>
<!--**********************************
    Sidebar end
***********************************-->

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Hi, welcome back!</h4>
					<span class="mb-0" th:if="${user != null}" th:text="${user.lastName}">Leader</span>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="javascript:void(0)">Project</a>
					</li>
					<li class="breadcrumb-item active">
						<a href="javascript:void(0)">Task</a>
					</li>
				</ol>
			</div>
		</div>
		<div class="row px-3">
			<h2 id="projectTitle">Example Project</h2>
		</div>
		<div class="row mt-3">
			<div class="col-xl-6 col-xxl-12 col-lg-6 col-sm-6" th:each="task : ${tasks}">
				<a href="./leader-workprogress.html">
					<div class="card text-white bg-info">
						<div class="card-header">
							<h5 class="card-title text-white" th:text="${task.title}">Task 1</h5>
							<span class="text-danger" th:text="|Deadline: ${task.deadline}|">Deadline</span>
						</div>
						<div class="card-body mb-0">
							<div class="d-flex justify-content-between">
								<p class="card-text text-truncate" th:text="${task.content}">Mô tả công việc</p>
								<a href="#" class="text-primary" title="xem chi tiết"><i class="ti-eye"></i></a>
							</div>
							<th:block th:switch="${task.workProgressLevel}">
								<div th:case="'0'">
									<h6 class="text-white mb-1">Chưa tiến hành</h6>
								</div>
								<div th:case="'1'">
									<h6 class="text-white mb-1">Đang tiến hành</h6>
								</div>
								<div th:case="'2'">
									<h6 class="text-white mb-1">Hoàn thành</h6>
								</div>
							</th:block>
							<a href="#" class="btn btn-dark btn-card mt-2">Đánh giá kết quả</a>
						</div>
						<div class="card-footer bg-transparent border-0 text-white">
							<div class="d-flex justify-content-between">
								<p>Last updated 3 min ago</p>
								<div class="action">
									<a th:href="@{'/get_task'(taskId=${task.id})}" class="btn btn-primary">Update</a>
									<a th:href="@{'/delete_task'(taskId=${task.id})}" class="btn btn-danger">Xóa</a>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>

		<!-- Modal Edit Task -->
		<div class="modal fade" id="exampleModalCenter">
			<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title"><span>Thêm mới/Cập nhật</span> Nhiệm vụ</h5>
						<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
						</button>
					</div>
					<form method="post" th:action="@{/save_task}">
						<div class="modal-body">
							<div class="basic-form">
								<div class="form-row">
									<div class="form-group col-md-4">
										<label>Tên nhiệm vụ</label>
										<input id="txtTitle" type="text" class="form-control" name="title" placeholder="Tên nhiệm vụ">
										<input type="hidden" name="id" id="txtId" value="0">
									</div>
									<div class="form-group col-md-4">
										<label>Thuộc dự án</label>
										<p id="txtProjectTitle" class="mt-1 text-black">Project_Name</p>
										<input type="hidden" name="project" id="objectProject" th:value="${projectId}">
									</div>
									<div class="form-group col-md-4">
										<label>Tiến độ công việc</label>
										<select id="slProgress" name="workProgressLevel" class="form-control">
											<option value="0">Chưa tiến hành</option>
											<option value="1">Đang tiến hành</option>
											<option value="2">Hoàn thành</option>
										</select>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6 col-lg-4">
										<label>Ngày bắt đầu</label>
										<input id="txtBeginDate" type="date" name="beginDate" class="form-control">
									</div>
									<div class="form-group col-md-6 col-lg-4">
										<label>Deadline</label>
										<input id="txtDeadlineDate" type="date" name="deadline" class="form-control" placeholder="Deadline">
									</div>
									<div class="form-group col-lg-4">
										<label>Ngày kết thúc dự kiến</label>
										<input id="txtEndDate" type="date" name="endDate" class="form-control">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-12">
										<label>Nội dung</label>
										<textarea id="txtContent" name="content" class="form-control" rows="5"></textarea>
									</div>
									<div class="form-group col-md-12">
										<label>Ghi chú</label>
										<textarea id="txtNote" name="note" class="form-control" rows="3"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<input type="submit" name="submit" value="Save changes" class="btn btn-primary">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row mx-3 fixed-bottom">
			<div class="col-12 text-right mt-1 mb-5 mr-lg-3">
				<button id="addModal" type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-lg btn-rounded btn-primary pr-3">
                            <span class="btn-icon-left text-primary">
                                <i class="fa fa-plus color-primary"></i>
						    </span>
					<span>Thêm Công việc</span>
				</button>
			</div>
		</div>
	</div>
</div>
<!--**********************************
    Content body end
***********************************-->

<!--**********************************
Scripts
***********************************-->


<!-- Required vendors -->
<script src="/view/vendor/global/global.min.js"></script>
<script src="/view/js/quixnav-init.js"></script>
<script src="/view/js/custom.min.js"></script>

<!-- Sweet alert -->
<script src="/view/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="/view/js/plugins-init/sweetalert.init.js"></script>

<script type="text/javascript" th:inline="javascript">
	$('document').ready(function (){
		var projectId = [[${projectId}]];

		$.ajax({url: "/getone_project?projectId="+projectId, success: function(projectResult){
				$('#projectTitle').text(projectResult.title);
			}});

		$('.action .btn-primary').on('click',function (event){
			event.preventDefault();
			var href = $(this).attr('href');
			$.get(href, function(task){
				$('#txtId').val(task.id);
				$('#txtTitle').val(task.title);
				$('#txtProjectTitle').text(task.project.title);
				$('#txtBeginDate').val((task.beginDate).substring(0, 10));
				$('#txtDeadlineDate').val((task.deadline).substring(0, 10));
				$('#txtEndDate').val((task.deadline).substring(0, 10));
				$('#txtContent').val(task.content);
				$('#txtNote').val(task.note);
				$('#slProgress').val(task.workProgressLevel);
			});
			$('#exampleModalCenter').modal();
		})

	})

	$('document').ready(function (){
		$('#addModal').on('click',function (event){
			event.preventDefault();
			$('#txtId').val(0);
			$('#txtTitle').val('');
			$('#txtProjectTitle').text('');
			$('#txtBeginDate').val(new Date());
			$('#txtDeadlineDate').val(new Date());
			$('#txtEndDate').val(new Date());
			$('#txtContent').val('');
			$('#txtNote').val('');
			$('#slProgress').val(0);
			$('#exampleModalCenter').modal();
			var projectTitle = document.getElementById("projectTitle").innerText;
			console.log(projectTitle);
			$('#txtProjectTitle').text(projectTitle);
		})
	})

</script>
</body>
</html>