<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
<a href="department_management">Danh sách phòng ban</a>
<a href="employee_management">Danh sách nhân viên</a>
    <table align="center" border="1px">
        <thead>
            <tr>
                <th> Id </th>
                <th> Tên </th>
                <th> Ghi chú </th>
                <th> Cập nhật </th>
                <th> Xoá </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="department : ${departments}">
                <td>
                    <a th:href="@{'employee_management_by_department?id=' + ${department.id}}"><span th:text="${department.id}"> Id </span></a>
                </td>
                <td><span th:text="${department.name}"> Tên </span></td>
                <td><span th:text="${department.note}"> Địa chỉ </span></td>
                <td>
                    <a th:href="@{/update/{id}(id=${department.id})}"><img th:src="@{/img/edit.png}" width="50px" height="50px"></a>
                </td>
                <td>
                    <a th:href="@{/delete/{id}(id=${department.id})}"><img th:src="@{/img/del.png}" width="50px" height="50px"></a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>