<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Đồ án tổng hợp</title>
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->
    <!-- Datatable -->
    <link href="/view/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/view/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="/view/css/style.css" rel="stylesheet">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="/view/images/logo.png" alt="">
                <img class="logo-compact" src="/view/images/logo-text.png" alt="">
                <img class="brand-title" src="/view/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">
<!--                        <div class="header-left">-->
<!--                            <div class="search_bar dropdown">-->
<!--                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">-->
<!--                                    <i class="mdi mdi-magnify"></i>-->
<!--                                </span>-->
<!--                                <div class="dropdown-menu p-0 m-0">-->
<!--                                    <form>-->
<!--                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="../../profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile</span>
                                    </a>
                                    <a href="/logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Management</li>
                    <li>
                        <a href="department_manager" aria-expanded="false">
                            <i class="fa fa-sitemap"></i>
                            <span class="nav-text">Department</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon icon-users-mm-2"></i>
                            <span class="nav-text">Employee</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="employee_manager">List of employees</a></li>
                            <li><a href="add_employee">Add new</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="project_manager" aria-expanded="false">
                            <i class="icon icon-app-store"></i>
                            <span class="nav-text">Project</span>
                        </a>
                    </li>
                    <li class="nav-label first">System</li>
                    <li>
                        <a href="/logout" aria-expanded="false">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <span class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Manager</span>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="manager">Management</a></li>
                            <li class="breadcrumb-item active"><a href="employee_manager">Employee</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Basic Datatable</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="example" class="display" style="min-width: 845px">
                                        <thead>
                                            <tr>
                                                <th>Full name</th>
                                                <th>Birth day</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Phone</th>
                                                <th>Position</th>
                                                <th>Note</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="employee : ${employees}">
                                                <td th:text="${employee.firstName} + ' ' + ${employee.lastName}">Tiger Nixon</td>
                                                <td th:text="${employee.birthday}">System Architect</td>
                                                <td th:text="${employee.email}">Edinburgh</td>
                                                <td th:text="${employee.address}">61</td>
                                                <td th:text="${employee.phone}">2011/04/25</td>
                                                <td th:text="${employee.position}">$320,800</td>
                                                <td th:text="${employee.note}"></td>
                                                <td>
                                                    <span>
                                                        <a th:href="@{'/update_employee'(employeeId=${employee.id})}" class="mr-4" data-toggle="tooltip" data-placement="top" title="Sửa">
                                                            <i class="fa fa-pencil color-muted"></i>
                                                        </a>
                                                        <a th:href="@{'/delete_employee'(employeeId=${employee.id})}" class="btn-delete" data-toggle="tooltip" data-placement="top" title="Xóa">
                                                            <i class="fa fa-close color-danger"></i>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
<!--                                        <tfoot>-->
<!--                                            <tr>-->
<!--                                                <th>Full name</th>-->
<!--                                                <th>Birth day</th>-->
<!--                                                <th>Email</th>-->
<!--                                                <th>Address</th>-->
<!--                                                <th>Phone</th>-->
<!--                                                <th>Position</th>-->
<!--                                                <th>Note</th>-->
<!--                                                <th>Action</th>-->
<!--                                            </tr>-->
<!--                                        </tfoot>-->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                <nav aria-label="Page navigation example">-->
<!--                    <ul class="pagination justify-content-center" th:if="${employees.page.totalPages > 1}">-->
<!--                        <li class="page-item" th:classappend="${!employees.paging.isPrevEnabled()? 'disabled' : ''}">-->
<!--                            <a class="page-link" th:href="@{'employee_manager?pageNumber=1'}" >First</a>-->
<!--                        </li>-->
<!--                        <li class="page-item" th:classappend="${!employees.paging.isPrevEnabled()? 'disabled' : ''}">-->
<!--                            <a class="page-link" th:href="@{'employee_manager?pageNumber=' + ${employees.paging.pageNumber - 1 > 0 ? employees.paging.pageNumber - 1 : 1}}" >Previous</a>-->
<!--                        </li>-->
<!--                        <th:block th:each="item : ${employees.paging.getItems()}">-->
<!--                            <li class="page-item" th:classappend="${item.index == employees.paging.pageNumber? 'active' : ''}"-->
<!--                                th:if="${item.pageItemType.name() == 'PAGE'}">-->
<!--                                <a class="page-link" th:href="@{'employee_manager?pageNumber=' + ${item.index}}"-->
<!--                                   th:text="${item.index}"></a>-->
<!--                            </li>-->
<!--                            <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">-->
<!--                                <a class="page-link" href="#">...</a>-->
<!--                            </li>-->
<!--                        </th:block>-->
<!--                        <li class="page-item" th:classappend="${!employees.paging.isNextEnabled()? 'disabled' : ''}">-->
<!--                            <a class="page-link" th:href="@{'employee_manager?pageNumber=' + ${employees.paging.pageNumber + 1 <= employees.page.totalPages ? employees.paging.pageNumber + 1 : employees.page.totalPages}}">Next</a>-->
<!--                        </li>-->
<!--                        <li class="page-item" th:classappend="${!employees.paging.isNextEnabled()? 'disabled' : ''}">-->
<!--                            <a class="page-link" th:href="@{'employee_manager?pageNumber=' + ${employees.page.totalPages}}" >Last</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </nav>-->
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> 
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/view/vendor/global/global.min.js"></script>
    <script src="/view/js/quixnav-init.js"></script>
    <script src="/view/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="/view/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/view/js/plugins-init/datatables.init.js"></script>

    <!-- Sweet alert -->
    <script src="/view/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="/view/js/plugins-init/sweetalert.init.js"></script>
</body>

</html>