<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Đồ án tổng hợp</title>
    <!-- Favicon icon -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png"> -->
    <link href="/view/css/style.css" rel="stylesheet">
</head>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="/view/images/logo.png" alt="">
                <img class="logo-compact" src="/view/images/logo-text.png" alt="">
                <img class="brand-title" src="/view/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">
<!--                        <div class="header-left">-->
<!--                            <div class="search_bar dropdown">-->
<!--                                <span class="search_icon p-3 c-pointer" data-toggle="dropdown">-->
<!--                                    <i class="mdi mdi-magnify"></i>-->
<!--                                </span>-->
<!--                                <div class="dropdown-menu p-0 m-0">-->
<!--                                    <form>-->
<!--                                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--                                    </form>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> đã thêm một <strong>khách hàng</strong> Thành công!
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">Xem tất cả thông báo<i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="/view/profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Hồ sơ</span>
                                    </a>
                                    <a href="/logout" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Đăng xuất</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" style="position: fixed">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Quản lý</li>
                    <li>
                        <a href="employee_task" aria-expanded="false">
                            <i class="fa fa-tasks"></i>
                            <span class="nav-text">Nhiệm vụ</span>
                        </a>
                    </li>
                    <li class="nav-label first">Hệ thống</li>
                    <li>
                        <a href="/logout" aria-expanded="false">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body ">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Chào mừng trở lại!</h4>
                        <span class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Employee</span>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Nhiệm vụ</a></li>
                    </ol>
                </div>
            </div>
            <div class="card task-list" th:each="entry: ${map}">
                <div class="card-body">
                    <div class="row mx-3">
                        <h2 th:text="${entry.key.title}">Project 1</h2>
                    </div>
                    <div class="row mt-3">
                        <div class="col-xl-4 col-xxl-12 col-lg-6 col-sm-6" th:each="task : ${entry.value}">
                            <a th:href="@{'/employee_workprogress_by_task'(taskId=${task.id})}">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h5 class="card-title text-white" th:text="${task.title}">Task 1</h5>
                                    </div>
                                    <div class="card-body mb-0">
                                        <p class="card-text" th:text="${task.content}">Mô tả công việc</p>
                                        <p class="text-white mb-3">Tiến độ</p>
                                        <th:block th:switch="${task.workProgressLevel}">
                                            <div th:case="'0'">
                                                <h4 class="card-title text-white" >Chưa tiến hành</h4>
                                            </div>
                                            <div th:case="'1'">
                                                <h4 class="card-title text-white" >Đang tiến hành</h4>
                                            </div>
                                            <div th:case="'2'">
                                                <h4 class="card-title text-white" >Hoàn thành</h4>
                                            </div>
                                        </th:block>
                                        <div class="progress mb-3">
                                            <div
                                                    class="progress-bar bg-danger progress-bar-striped"
                                                    th:aria-valuenow="${task.workProgressLevel}"
                                                    aria-valuemin="0"
                                                    aria-valuemax="2"
                                                    style="height: 10px"
                                                    role="progressbar"
                                            >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-transparent border-0 text-white">
                                        Cập nhật lần cuối 3p trước
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
<!--        <div class="footer">-->
<!--            <div class="copyright">-->
<!--                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>-->
<!--                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> -->
<!--            </div>-->
<!--        </div>-->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->

    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/view/vendor/global/global.min.js"></script>
    <script src="/view/js/quixnav-init.js"></script>
    <script src="/view/js/custom.min.js"></script>
    <script src="/view/js/custom/progress-bar.custom.js"></script>
</body>

</html>