<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Work Management</title>
    <link href="/view/css/style.css" rel="stylesheet">
</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="#" class="brand-logo">
                <img class="logo-abbr" src="/view/images/logo-w.png" alt="">
                <div class="logo-compact">WORK MANAGEMENT</div>
                <div class="brand-title">WORK MANAGEMENT</div>
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-end">
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav" style="position: fixed">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Quản lý</li>
                    <li>
                        <a href="employee_task" aria-expanded="false">
                            <i class="fa fa-tasks"></i>
                            <span class="nav-text">Nhiệm vụ</span>
                        </a>
                    </li>
                    <li class="nav-label first">Hệ thống</li>
                    <li>
                        <a href="/logout" aria-expanded="false">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-text">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body ">
            <div class="container-fluid">
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Chào mừng trở lại!</h4>
                            <p class="mb-0" th:if="${user != null}" th:text="${user.firstName + ' ' + user.lastName}">Employee</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="employee_task">Nhiệm vụ</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Tiến độ công việc</a></li>
                            <li class="breadcrumb-item active"><a href="javascript:void(0)">Thêm chi tiết</a></li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/save_workprogress}" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="task" th:value="${taskId}">
                                    <div class="row">
                                        <div class="col-xl-10 col-sm-12 col-xs-12">
                                            <div class="p-2">
                                                <div class="card-content">
                                                    <div class="m-2">
                                                        <div class="form-group">
                                                            <label class="col-form-label text-black">Tên tiến độ</label>
                                                            <input type="text" name="title" class="form-control" placeholder="Nhập tên tiến độ" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-form-label text-black">Nội dung</label>
                                                            <textarea name="content" id="" rows="10" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="card-listFile" style="display: none">
                                                    <h4 class="m-2">Danh sách tệp đính kèm</h4>
                                                    <div class="d-flex">
                                                        <div class="mr-2 px-2">
                                                            <div class="card text-white overflow-hidden ml-3 mb-1" style="text-decoration: underline">
                                                                <a class="text-danger" href="#">Tên file</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-2 col-sm-12 col-xs-12 mt-xl-5">
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" style="margin: 0 auto;">
                                                    <div class="custom-file text-white w-100">
                                                        <input type="file" name="files" class="custom-file-input" multiple>
                                                        <label class="custom-file-label">Đính kèm tệp</label>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" style="margin: 0 auto;">
                                                    <select id="inputState" name="workProgressLevel" class="btn bg-primary text-white w-100" style="text-align: start;">
                                                        <option value="0">Chưa tiến hành</option>
                                                        <option value="1">Đang tiến hành</option>
                                                        <option value="2">Hoàn thành</option>
                                                    </select>
                                                </div>
                                                <div class="col-xl-12 col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin: 0 auto;">
                                                    <input type="submit" name="submit" value="Lưu" class="btn btn-primary text-white w-100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
<!--        <div class="footer">-->
<!--            <div class="copyright">-->
<!--                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>-->
<!--                <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p> -->
<!--            </div>-->
<!--        </div>-->
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/view/vendor/global/global.min.js"></script>
    <script src="/view/js/quixnav-init.js"></script>
    <script src="/view/js/custom.min.js"></script>
</body>

</html>